/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 95%;
  margin: 0;
  padding: 0;
  background-color: #1e282d;
}

.navbar {
  background-color: black;
}

#name {
  margin-left: 10px;
}

#weather {
  color: white;
}

.d-inline-block {
  margin-left: 5dpx;
}

div#widget {
  margin-top: 20px;
  margin-bottom: 25px;
  background-color: #00afff;
  border-style: solid;
  border-radius: 25px;
}

#logout{
  margin-right: 0px;
  border-radius: 25px;
  border-style: solid;
  background-color: #00afff;
  border-color: #00afff;
  margin-bottom: 25px;
  text-align: center;
  
}

div.log-btn{
  text-align: center;
}

#miles {
  color: white;
}